<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LessonLink</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/documents.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>LessonLink</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/documents">Documents</a></li>
            <li><a href="/students">Students</a></li>
        </ul>
    </nav>

    <main>
        <ul class="document-grid">
            <% documents.forEach( el => { %>
            
                <li class='document' data-id='<%=el._id%>'>
                    <span class='document-title <%= el.completed === true ? 'completed' : 'not'%>'><%= el["document"]%></span>
                    <span class='document-assignment'>
                        <i class="fas fa-clock"> 
                            <% 
                                let date_ob = new Date(el.dateCreated);
                                let date = ("0" + date_ob.getDate()).slice(-2);
                                let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);
                                let year = date_ob.getFullYear();
                                let formattedDate = month + "-" + date + "-" + year;
                            %>
                            <%= formattedDate %>
                        </i>
                    </span>
                    <span class='delete-button fas fa-trash-alt'></span>
                </li>
            <% }) %>    
        </ul>
    </main>

    <div class="input-footer">
        <form class="create-document" action="/documents/createDocument" method='POST'>
            <input class="document-input" type="text" placeholder="Enter Document Item" name='documentItem'>
            <input class="submit" type="submit">
        </form>
    </div>

    <footer>
        <a class="logout" href="/logout">Logout</a>
    </footer>

    <script src="js/main.js"></script>
</body>
    
</html>