<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LessonLink</title>
</head>
<body>
    
    <header>
        <h1>LessonLink</h1>
    </header>
    
    <main>
        <h2>Welcome to LessonLink!</h2>

        <div class="btns">
        <a class="btn-1" href="/login"> Login</a>
        <a class="btn-1" href="/signup"> Signup</a>
        </div>

        <p>Login or sign-up to get started!</p>

    </main>

</body>
</html>