<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>LessonLink</title>
</head>
<body>
    
    <main id="main-landing">
        <img id="logo-main" src="/images/logo-no-background.png" alt="LessonLink logo">

        <div class="btns">
        <a class="btn-1" href="/login"> Login</a>
        <a class="btn-2" href="/signup"> Sign Up</a>
        </div>

    </main>
</body>
</html>