<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <img id="logo-header" src="/images/logo-no-background.png" alt="LessonLink Logo">
    <main>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <div class="form-full flex-col">
        <h1 class="form-title">Teacher Sign Up</h1>
        <form action="/signup" method="POST">
            <h2>Name</h2>
            <input type="text" name="userName" placeholder="Jane Smith" autocomplete="username">
            <h2>Email</h2>
            <input type="email" name="email" placeholder="janesmith@aol.com" autocomplete="email">
            <h2>Password</h2>
            <input type="password" name="password" placeholder="•••••••••" autocomplete="new-password">
            <h2>Confirm Password</h2>
            <input type="password" name="confirmPassword" placeholder="•••••••••" autocomplete="new-password">
        </form>
        <button class="btn-1" type="submit">Join</button>
    </div>

    <div class="flex-end flex-col">
        <span>Already have an account?</span>
        <a class="btn-2" href="/login">Login</a>
    </div>
    </main>

</body>
<script src="/js/auth.js"></script>
</html>