/* REM */
html {
  font-size: 62.5%; /*1 rem = 10 px */
}

/*********** BODY *************/

body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  max-width: 400px;
  margin: auto;
  font-size: 2rem;
  color: #333333;
  background-color: #f4f4f4;
}

body * {
  display: inline-block;
  box-sizing: border-box;
}

/******* HEADER *******/
header {
  grid-area: header;
  align-self: center;
  justify-self: center;
  margin: 20px 0;
}
header h1 {
  font-size: 4rem;

  font-weight: 500;
  font-style: italic;
  color: #64b6ac;
}

/******* NAV *******/

nav {
  grid-area: nav;
  align-self: center;
  justify-self: center;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  background-color: #f4f4f4; /* Background color */
  padding: 10px 0;
  margin: 20px 0;
}

nav a {
  color: #5d737e; /* Primary color */
  text-decoration: none;
  font-size: 2.5rem; /* Increased font size */

  font-weight: 500;
  margin: 0 20px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #64b6ac; /* Secondary color */
}

/******* MAIN *******/
main {
  grid-area: main;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  font-weight: 300;
}

/* DOCUMENT Item */
.document-grid {
  width: 100%;
  border-radius: 5px;
}

.document {
  height: 3rem;
  width: 100%;
  display: grid;
  grid-template-areas: "title assignment button delete";
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  align-content: center;
  padding: 3px;
  background-color: #d0e8f2;
}

.document:nth-child(2n) {
  background-color: #b7c7c5;
}

/* Button */
.complete-button {
  grid-area: button;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  border: 2px solid #5d737e;
  background-color: #f4f4f4;
  margin-right: 8px;
  cursor: pointer;
}

.complete-button.completed {
  background-color: #5d737e;
}

/* DOCUMENT Name */
.document-title {
  grid-area: title;
  font-size: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
  color: #5d737e;
  margin-left: 0.3rem;
}
.document-title:hover {
  color: #aaa;
}
.date-assigned {
  grid-area: assignment;
  font-size: 1.2rem;
  justify-self: end;
  margin-right: 12px;
  color: #5d737e;
}
.completed {
  color: #5d737e;
  text-decoration: line-through #5d737e;
}

/* DOCUMENT Assignment */
.assign-user {
  grid-area: assignment;
  width: fit-content;

  font-size: 1.2rem;
  color: #5d737e;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  padding: 5px;
  cursor: pointer;
}
.assign-user:focus {
  outline: none;
  border-color: #5d737e;
}

/* Delete Button */
.delete-button {
  grid-area: delete;
  justify-self: end;
  margin-right: 5px;
  font-size: 1rem;
  color: #5d737e;
  cursor: pointer;
}

/* Modal */
.modal {
  grid-area: main;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  display: block;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  height: 30rem;
  width: 30rem;
}

.modal-content .header {
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 400;
}
.break-thin {
  border-bottom: 1px solid #aaa;
  width: 100%;
  margin: 10px 0;
}
.modal-content .header i {
  font-size: 2rem;
}

/* Modal Form */

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  font-size: 1.6rem;
}

.modal-content form * {
  width: 100%;
  margin: 5px 0;
}

.modal-content form input[type="submit"] {
  margin-top: auto;
  height: 3rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Upload Button */

.btn1 {
  width: auto;
  font-size: 1.8rem;

  border: 2px solid #5d737e;
  border-radius: 5px;
  background-color: #d0e8f2;
  padding: 1rem;
  margin-bottom: 10rem;
}

.btn1 :hover {
  background-color: #5d737e;
  border-color: #786f78;
  cursor: pointer;
}

/******* FOOTER *******/
footer {
  width: 100%;
  max-width: 40rem;
  grid-area: footer;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.5rem 0;
  position: fixed;
  bottom: 0;

  box-sizing: border-box;
}
footer a {
  height: 100%;
  border: 2px solid #333333;
  border-radius: 5px;
  font-size: 1.6rem;
  padding: 3px;
  color: #f4f4f4;
  background-color: #5d737e;
  text-decoration: none;
}
footer a:hover {
  background-color: #5d737e;
  border-color: #786f78;
  cursor: pointer;
}
