/* Font Setup */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

html {
  font-size: 62.5%; /*1 rem = 10 px */
  font-family: "Montserrat", sans-serif;
}
input, textarea, button, select {
  font-family: "Montserrat", sans-serif;
}

/*********** BODY *************/

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 15% auto 10%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  max-width: 400px;
  margin: auto;
  font-size: 2rem;
  color: #242423;
  background-color: #f6f5f4;
}

/******* HEADER *******/

#logo-header {
  grid-area: header;
  align-self: center;
  justify-self: center;
  margin: 20px 0;
  width: 60%;
}

/******* MAIN *******/

main {
  grid-area: main;
  width: auto;
  margin: 0 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#main-landing {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

#logo-main {
  grid-area: main;
  width: 95%;
  margin-top: 40%;
  align-self: center;
  justify-self: center;
}
/******* FORM *******/

form {
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 2.4rem;
  margin-bottom: 10px;
  align-self: baseline;
}

form > input {
  height: 30px;
  margin: 2px 0;
  width: 100%;
}

form input {
  width: 100%;
  border: 2px solid #5d737e;
  border-radius: 5px;
  padding-left: 7px;
}

form .text {
  padding-left: 5px;
  font-size: 1.6rem;
  margin-right: 10px;
}

form .submit {
  width: 60px;
  border: 2px solid #5d737e;
  border-radius: 5px;
  background-color: #d0e8f2;
  font-size: 1.4rem;
}

form .submit:hover {
  background-color: #64b6ac;
  border-color: #5d737e;
  cursor: pointer;
}

.form-full {
  width: 100%;
  margin-top: 20%;
}

/******* FORM *******/

footer {
  grid-area: footer;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
.logout {
  color: #64b6ac;
  font-size: 1rem;
}
.logout:hover {
  color: #5d737e;
}

/* Additional Styles */

.btns {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 20%;
}

.btn-1 {
  height: 50px;
  width: 200px;
  margin: 1rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 12.2, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333333;
  border-radius: 9px;
  background-color: #F4A424;
  color: #333333;
  font-size: 1.8rem;
  padding: 3px;
  text-decoration: none;
}
.btn-1:hover {
  color: #5d737e;
}
.btn-2 {
  height: 50px;
  width: 200px;
  margin: 1rem;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 12.2, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333333;
  border-radius: 9px;
  background-color: #D9D9D9;
  color: #333333;
  font-size: 1.8rem;
  padding: 3px;
  text-decoration: none;
}
.btn-2:hover {
  color: #5d737e;
}


.flex-col {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: space space-evenly;
}

.flex-end {
  margin-top: auto;
}

.margin-top-bot {
  margin: 10px 0 10px 0;
}

.margin-top-50 {
  margin-top: auto;
  margin-bottom: 60px;
}
